#wrapper{
    line-height:30px;
    /*background-color: white;*/
    height:600px;
    width:1000px;
    float:center;
    border-radius: 10px 10px 0px 0px;
}
#wrapperleft{
    line-height:30px;
    background-color: #06845b;
    height:570px;
    width:670px;
    float: left;
    border-radius: 10px 10px 10px 10px;
}
#wrapperright{
    line-height:30px;
    background-color: #06845b;
    height:570px;
    width:300px;
    float:right;
    border-radius: 10px 10px 10px 10px;
}

#course {
    line-height:30px;
    background-color:#eeeeee;
    height:520px;
    width:250px;
    float:center;
    text-align:0px;
    margin:20px 20px 20px 20px;
    /*border-radius: 10px 10px 10px 10px; */
}
#name {
    background-color:#eeeeee;
    width:400px;
    float:left;
    padding:10px;
    margin:20px 20px 20px 20px;
}
#description{
    background-color:#eeeeee;
    width:602px;
    height: 300px;
    float:left;
    padding:10px;
    margin:10px 20px 20px 20px;
    text-align: left;
}
#footer {
    background-color:#eeeeee;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
    width: 990px;
    border-radius: 10px 10px 10px 10px;
}

h1 {
    padding: 10px;
    text-align: left;
    color: #1b201e;
}
h2 {
    padding: 1px;
    text-align: left;
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 10;
    margin: 0 0 0 0px;
}

h3 {
    color: #1b201e;
    font-family: 'Raleway',sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    margin: 0 0 24px;
    text-align: center;
}
h4 {
    color: #1b201e;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 10;
    margin: 0 0 0 0px;
}

h5 {
    color: #1b201e;
    font-family: 'Raleway',sans-serif;
    font-size: 11px;
    font-weight: 10;
    margin: 0 0 0 0px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    float: left;
    hight: 150px;
    width: 150px;
    margin:20px 20px 20px 20px;
}



ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 1000px;
    margin:20px 20px 20px 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body{
    background-color: #87dfc2;
}
